h1,
h3 {
  transform: skewY(-3.5deg);
  color: #fff;
  margin-left: 1rem;
}

h1 {
  font-size: 50px;
  text-shadow: 1px 1px #ccc, -1px -1px #ccc, 1px -1px #ccc, -1px 1px #ccc;
}


.overlay::before {
  content: "";
  display: block;
  margin: 1rem 0rem;
  width: 100%;
  z-index: -1;
  transform: skewY(-3.5deg);
  border-bottom: 0.2em solid #fff;
}
