.container {
  position: relative;
}

.suggestionsList {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto; /* right: 0; */
  background-color: white;
  border: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  width: "100%";
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
}

input {
  height: 30px;
}
input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.searchButton {
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.suggestionItem {
  height: 50px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
}

.suggestion {
  padding: 0.1rem 1.5rem;
}
