.img {
  border-radius: 0.5rem;
  width: 20rem;
}

.flex {
  display: grid;
  margin: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
  justify-content: space-between;
}

.info {
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.collapsed {
  max-height: 0;
}

.expanded {
  max-height: 100px;
}

.detail {
  background-color: rgb(102, 100, 99);
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  word-wrap: break-word;
}

.detail span:nth-child(2) {
  display: inline-block;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rightText {
  float: right;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.title {
  font-weight: bold;
  margin-right: 1rem;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(90deg);
  transition: transform 0.5s ease-out;
}

.expanded .arrow {
  transform: rotate(90deg);
}
