@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");

:root {
  --button-hover: #7a8b72;
  --border-colour: #ccc;
  --border-colour-opacity: rgba(204, 204, 204, 0.8);
  --button-hover-opacity: rgba(122, 139, 114, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background-image: linear-gradient(to bottom, #7a8b72, #cce4c1);
}
